<div class="container">
	<div class="mt-5" *ngIf="loged">
		<h1 style="color:white">Spamers</h1>
		<button type="button" routerLink="../github" class="btn btn-outline-light btn-lg" *ngIf="githubuser" style="width: 100%;height: 200px">Github user</button>
		<button type="button" routerLink="../people" class="btn btn-outline-light btn-lg mt-2" style="width: 100%;height: 200px">People</button>
		<button type="button" routerLink="../programs" class="btn btn-outline-light btn-lg mt-2" style="width: 100%; height:200px">Programs</button>
	</div>
</div>